In [9]:
import pandas as pd

In [10]:
# Reading a MultiIndex data
df = pd.read_csv('Dataset/MultiIndex.csv', index_col= [0,1,2], skiprows= [2], header= [0,1]).sort_index()
df

                                      2010            2011            2012  \
                                   Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
CA Warehouses Los Angeles   AC          27      24      20      21      20
                            Mobile      29      15      14      28      29
                            TV          23      14      18      21      10
              San Diego     AC          11      22      10      29      24
                            Mobile      14      27      24      16      23
                            TV          19      24      17      17      11
              San Francisco AC          10      14      10      16      17
                            Mobile      15      25      18      16      13
                            TV          28      16      15      29      28
NY Warehouses Beacon        AC          13      11      23      13      20
                            Mobile      10      17      24      27      25
                            TV          12      22      26      26      15
              Buffalo       AC          16      24      20      23      29
                            Mobile      26      12      10      23      18
                            TV          19      22      27      19      27
              Ithaca        AC          18      17      19      28      28
                            Mobile      10      28      27      22      18
                            TV          13      13      11      15      12
TX Warehouses Arlington     AC          21      18      13      22      16
                            Mobile      29      10      12      13      13
                            TV          15      20      22      25      23
              Austin        AC          15      28      28      11      11
                            Mobile      17      11      29      25      20
                            TV          27      11      14      11      23
              Houston       AC          12      25      18      12      26
                            Mobile      27      17      16      18      21
                            TV          11      18      22      21      26

                                              2013            2014          \
                                   Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
CA Warehouses Los Angeles   AC          29      18      29      15      17
                            Mobile      27      18      27      16      29
                            TV          15      11      19      25      11
              San Diego     AC          24      24      11      18      27
                            Mobile      20      11      23      29      16
                            TV          12      22      21      18      29
              San Francisco AC          20      28      25      27      11
                            Mobile      13      19      15      21      23
                            TV          27      27      14      12      20
NY Warehouses Beacon        AC          26      10      12      14      10
                            Mobile      11      22      26      10      13
                            TV          28      15      26      12      18
              Buffalo       AC          15      10      20      16      16
                            Mobile      10      10      26      16      18
                            TV          12      24      28      27      28
              Ithaca        AC          14      21      18      25      17
                            Mobile      14      22      12      14      16
                            TV          15      27      17      10      25
TX Warehouses Arlington     AC          18      21      22      22      11
                            Mobile      25      10      19      10      16
                            TV          20      23      21      13      26
              Austin        AC          12      15      25      29      16
                            Mobile      26      19      20      21      17
                            TV          22      27      10      28      29
              Houston       AC          23      21      12      22      29
                            Mobile      21      15      16      23      25
                            TV          18      18      12      15      26

                                      2015            2016            2017  \
                                   Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
CA Warehouses Los Angeles   AC          27      25      12      23      23
                            Mobile      10      15      20      17      11
                            TV          12      11      23      20      22
              San Diego     AC          29      10      16      28      12
                            Mobile      18      14      15      16      24
                            TV          22      19      13      28      18
              San Francisco AC          19      18      22      13      16
                            Mobile      11      26      27      16      16
                            TV          13      27      18      11      17
NY Warehouses Beacon        AC          28      26      21      26      29
                            Mobile      25      13      29      23      28
                            TV          17      10      21      19      24
              Buffalo       AC          25      21      19      12      21
                            Mobile      20      21      20      26      29
                            TV          10      16      25      26      20
              Ithaca        AC          18      27      23      24      22
                            Mobile      21      13      27      17      15
                            TV          20      27      17      16      13
TX Warehouses Arlington     AC          28      13      17      10      29
                            Mobile      12      15      13      15      27
                            TV          28      28      21      16      22
              Austin        AC          20      16      20      14      14
                            Mobile      26      20      10      10      13
                            TV          14      13      17      18      10
              Houston       AC          25      15      21      26      21
                            Mobile      11      22      28      20      22
                            TV          22      11      18      29      28

                                              2018            2019
                                   Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
CA Warehouses Los Angeles   AC          14      29      25      25      16
                            Mobile      14      25      11      29      19
                            TV          21      21      17      15      10
              San Diego     AC          19      10      15      20      15
                            Mobile      13      15      24      12      13
                            TV          29      10      19      22      17
              San Francisco AC          13      21      16      15      23
                            Mobile      18      29      22      25      20
                            TV          24      10      29      19      14
NY Warehouses Beacon        AC          12      29      18      20      24
                            Mobile      22      22      26      20      18
                            TV          23      26      19      19      13
              Buffalo       AC          19      11      28      19      19
                            Mobile      20      11      21      25      16
                            TV          25      10      27      20      20
              Ithaca        AC          12      11      12      19      22
                            Mobile      19      21      15      29      14
                            TV          23      15      26      15      28
TX Warehouses Arlington     AC          15      15      22      19      11
                            Mobile      18      21      27      15      29
                            TV          21      14      12      16      20
              Austin        AC          13      26      27      21      16
                            Mobile      27      23      29      12      24
                            TV          16      25      24      23      21
              Houston       AC          26      28      23      29      19
                            Mobile      26      10      18      22      27
                            TV          24      22      24      25      17

In [11]:
# Lets see Row Indexes(Index) and column Coulmn Indexes

display(df.columns)
display(df.index)

MultiIndex([('2010', 'Jan-Jun'),
            ('2010', 'Jul-Dec'),
            ('2011', 'Jan-Jun'),
            ('2011', 'Jul-Dec'),
            ('2012', 'Jan-Jun'),
            ('2012', 'Jul-Dec'),
            ('2013', 'Jan-Jun'),
            ('2013', 'Jul-Dec'),
            ('2014', 'Jan-Jun'),
            ('2014', 'Jul-Dec'),
            ('2015', 'Jan-Jun'),
            ('2015', 'Jul-Dec'),
            ('2016', 'Jan-Jun'),
            ('2016', 'Jul-Dec'),
            ('2017', 'Jan-Jun'),
            ('2017', 'Jul-Dec'),
            ('2018', 'Jan-Jun'),
            ('2018', 'Jul-Dec'),
            ('2019', 'Jan-Jun'),
            ('2019', 'Jul-Dec')],
           )

MultiIndex([('CA Warehouses',   'Los Angeles',     'AC'),
            ('CA Warehouses',   'Los Angeles', 'Mobile'),
            ('CA Warehouses',   'Los Angeles',     'TV'),
            ('CA Warehouses',     'San Diego',     'AC'),
            ('CA Warehouses',     'San Diego', 'Mobile'),
            ('CA Warehouses',     'San Diego',     'TV'),
            ('CA Warehouses', 'San Francisco',     'AC'),
            ('CA Warehouses', 'San Francisco', 'Mobile'),
            ('CA Warehouses', 'San Francisco',     'TV'),
            ('NY Warehouses',        'Beacon',     'AC'),
            ('NY Warehouses',        'Beacon', 'Mobile'),
            ('NY Warehouses',        'Beacon',     'TV'),
            ('NY Warehouses',       'Buffalo',     'AC'),
            ('NY Warehouses',       'Buffalo', 'Mobile'),
            ('NY Warehouses',       'Buffalo',     'TV'),
            ('NY Warehouses',        'Ithaca',     'AC'),
            ('NY Warehouses',        'Ithaca', 'Mobile'),
            ('NY Warehouses',        'Ithaca',     'TV'),
            ('TX Warehouses',     'Arlington',     'AC'),
            ('TX Warehouses',     'Arlington', 'Mobile'),
            ('TX Warehouses',     'Arlington',     'TV'),
            ('TX Warehouses',        'Austin',     'AC'),
            ('TX Warehouses',        'Austin', 'Mobile'),
            ('TX Warehouses',        'Austin',     'TV'),
            ('TX Warehouses',       'Houston',     'AC'),
            ('TX Warehouses',       'Houston', 'Mobile'),
            ('TX Warehouses',       'Houston',     'TV')],
           )

Both are MultiIndex.

In [12]:
# Lets see Index and columns lables
display(df.columns.values)
display(df.index.values)

array([('2010', 'Jan-Jun'), ('2010', 'Jul-Dec'), ('2011', 'Jan-Jun'),
       ('2011', 'Jul-Dec'), ('2012', 'Jan-Jun'), ('2012', 'Jul-Dec'),
       ('2013', 'Jan-Jun'), ('2013', 'Jul-Dec'), ('2014', 'Jan-Jun'),
       ('2014', 'Jul-Dec'), ('2015', 'Jan-Jun'), ('2015', 'Jul-Dec'),
       ('2016', 'Jan-Jun'), ('2016', 'Jul-Dec'), ('2017', 'Jan-Jun'),
       ('2017', 'Jul-Dec'), ('2018', 'Jan-Jun'), ('2018', 'Jul-Dec'),
       ('2019', 'Jan-Jun'), ('2019', 'Jul-Dec')], dtype=object)

array([('CA Warehouses', 'Los Angeles', 'AC'),
       ('CA Warehouses', 'Los Angeles', 'Mobile'),
       ('CA Warehouses', 'Los Angeles', 'TV'),
       ('CA Warehouses', 'San Diego', 'AC'),
       ('CA Warehouses', 'San Diego', 'Mobile'),
       ('CA Warehouses', 'San Diego', 'TV'),
       ('CA Warehouses', 'San Francisco', 'AC'),
       ('CA Warehouses', 'San Francisco', 'Mobile'),
       ('CA Warehouses', 'San Francisco', 'TV'),
       ('NY Warehouses', 'Beacon', 'AC'),
       ('NY Warehouses', 'Beacon', 'Mobile'),
       ('NY Warehouses', 'Beacon', 'TV'),
       ('NY Warehouses', 'Buffalo', 'AC'),
       ('NY Warehouses', 'Buffalo', 'Mobile'),
       ('NY Warehouses', 'Buffalo', 'TV'),
       ('NY Warehouses', 'Ithaca', 'AC'),
       ('NY Warehouses', 'Ithaca', 'Mobile'),
       ('NY Warehouses', 'Ithaca', 'TV'),
       ('TX Warehouses', 'Arlington', 'AC'),
       ('TX Warehouses', 'Arlington', 'Mobile'),
       ('TX Warehouses', 'Arlington', 'TV'),
       ('TX Warehouses', 'Austin', 'AC'),
       ('TX Warehouses', 'Austin', 'Mobile'),
       ('TX Warehouses', 'Austin', 'TV'),
       ('TX Warehouses', 'Houston', 'AC'),
       ('TX Warehouses', 'Houston', 'Mobile'),
       ('TX Warehouses', 'Houston', 'TV')], dtype=object)

Here `('2010', 'Jan-Jun')` is the first column label(0th) and so on.

Similarly, `('CA Warehouses', 'Los Angeles', 'AC')` is the first row label(0th).

In [15]:
# Lets get levels of Index and Columns
print('{} Index levels are:'.format(len(df.index.levels)))
display(df.index.levels)

print('{} column levels are:'.format(len(df.columns.levels)))
display(df.columns.levels)

3 Index levels are:

FrozenList([['CA Warehouses', 'NY Warehouses', 'TX Warehouses'], ['Arlington', 'Austin', 'Beacon', 'Buffalo', 'Houston', 'Ithaca', 'Los Angeles', 'San Diego', 'San Francisco'], ['AC', 'Mobile', 'TV']])

2 column levels are:

FrozenList([['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019'], ['Jan-Jun', 'Jul-Dec']])

In [13]:
# Lets get level names of Index and Columns
print(df.columns.names,'\n',df.index.names)

[None, None]
 [None, None, None]

Both Index and Column levels have no name

In [14]:
# Lets assign names to the levels
df.index.names = ['State', 'Location', 'Product']
df.columns.names= ['Year', 'Quater']

print(df.columns.names,'\n',df.index.names)

['Year', 'Quater']
 ['State', 'Location', 'Product']

Now we can see the both Index and Column Level names

In [18]:
print(df.columns.levels[0].name)
print(df.index.levels[1].name)

Year
Location

Respective names of first column and second index name

In [19]:
# Lets see an index level and its values
df.index.get_level_values(1) 

# equivalent to df.index.level[1].values

Index(['Los Angeles', 'Los Angeles', 'Los Angeles', 'San Diego', 'San Diego',
       'San Diego', 'San Francisco', 'San Francisco', 'San Francisco',
       'Beacon', 'Beacon', 'Beacon', 'Buffalo', 'Buffalo', 'Buffalo', 'Ithaca',
       'Ithaca', 'Ithaca', 'Arlington', 'Arlington', 'Arlington', 'Austin',
       'Austin', 'Austin', 'Houston', 'Houston', 'Houston'],
      dtype='object', name='Location')

In [21]:
# Simmilarly lets get a column level and its values
df.columns.get_level_values(1)

# equivalent to df.columns.level[1].values

Index(['Jan-Jun', 'Jul-Dec', 'Jan-Jun', 'Jul-Dec', 'Jan-Jun', 'Jul-Dec',
       'Jan-Jun', 'Jul-Dec', 'Jan-Jun', 'Jul-Dec', 'Jan-Jun', 'Jul-Dec',
       'Jan-Jun', 'Jul-Dec', 'Jan-Jun', 'Jul-Dec', 'Jan-Jun', 'Jul-Dec',
       'Jan-Jun', 'Jul-Dec'],
      dtype='object', name='Quater')

In [22]:
df.shape

(27, 20)

#### SUMMARY
   Thus this MultiIndex DataFrame have 3 Index levels named `'State'`, `'Location'`, `'Product'`  and 2 Column index levels named `'Year'`, `'Quater'`. They are also called as `index names` and `column names`.
   
   Except this, first row label is `('CA Warehouses', 'Los Angeles', 'AC')` and so on. Similarly first column label is `('2010', 'Jan-Jun')`. 
   
   An axis may have different levels. In this DataFrame, rows, or 0th axis have three levels: `'State'`, `'Location'`, `'Product'`. For axis=1,Columns, the levels are `'Year'`, `'Quater'`.