**1.** `pivot()` and `pivot_table()` both are used for reshaping a datframe(from long format to wide format).
   
**2.** `pivot()` doesn't support duplicate values but `pivot_table()` does. Hence `pivot()` doesn't support agrregation of data whereas `pivot_table()` does.

In [9]:
import pandas as pd
temp_df = pd.read_csv('Dataset/volcano_data_2010.csv')

pd.options.display.max_columns = len(temp_df.columns)
pd.options.display.max_rows = len(temp_df.index)

temp_df

,Year,Month,Day,TSU,EQ,Name,Location,Country,Latitude,Longitude,Elevation,Type,Status,Time,VEI,Agent,DEATHS,DEATHS_DESCRIPTION,MISSING,MISSING_DESCRIPTION,INJURIES,INJURIES_DESCRIPTION,DAMAGE_MILLIONS_DOLLARS,DAMAGE_DESCRIPTION,HOUSES_DESTROYED,HOUSES_DESTROYED_DESCRIPTION,TOTAL_DEATHS,TOTAL_DEATHS_DESCRIPTION,TOTAL_MISSING,TOTAL_MISSING_DESCRIPTION,TOTAL_INJURIES,TOTAL_INJURIES_DESCRIPTION,TOTAL_DAMAGE_MILLIONS_DOLLARS,TOTAL_DAMAGE_DESCRIPTION,TOTAL_HOUSES_DESTROYED,TOTAL_HOUSES_DESTROYED_DESCRIPTION
0,2010,1,NaN,NaN,NaN,Tungurahua,Ecuador,Ecuador,-1.467,-78.442,5023,Stratovolcano,Historical,D1,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,2010,3,31.0,NaN,NaN,Eyjafjallajokull,Iceland-S,Iceland,63.630,-19.620,1666,Stratovolcano,Historical,D1,2.0,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,5,27.0,NaN,NaN,Pacaya,Guatemala,Guatemala,14.381,-90.601,2552,Complex volcano,Historical,D1,1.0,T,1.0,1.0,3.0,1.0,NaN,NaN,NaN,1.0,3.0,1.0,1.0,1.0,3.0,1.0,NaN,NaN,NaN,1.0,3.0,1.0
3,2010,5,29.0,TSU,EQ,Sarigan,Mariana Is-C Pacific,United States,16.708,145.780,538,Stratovolcano,Holocene,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,8,6.0,NaN,NaN,Karangetang [Api Siau],Sangihe Is-Indonesia,Indonesia,2.780,125.480,1784,Stratovolcano,Historical,D1,3.0,NaN,4.0,1.0,NaN,NaN,5.0,1.0,NaN,NaN,NaN,1.0,4.0,1.0,NaN,NaN,5.0,1.0,NaN,NaN,NaN,1.0
5,2010,8,30.0,NaN,NaN,Sinabung,Sumatra,Indonesia,3.170,98.392,2460,Stratovolcano,Holocene,U,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2010,10,26.0,NaN,NaN,Merapi,Java,Indonesia,-7.542,110.442,2947,Stratovolcano,Historical,D1,NaN,NaN,367.0,3.0,NaN,NaN,277.0,3.0,600.00,4.0,NaN,3.0,367.0,3.0,NaN,NaN,277.0,3.0,600.00,4.0,NaN,3.0
7,2010,11,NaN,NaN,NaN,Tungurahua,Ecuador,Ecuador,-1.467,-78.442,5023,Stratovolcano,Historical,D1,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
8,2010,12,28.0,NaN,NaN,Tengger Caldera,Java,Indonesia,-7.942,112.950,2329,Stratovolcano,Historical,D1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2011,1,3.0,NaN,NaN,Merapi,Java,Indonesia,-7.542,110.442,2947,Stratovolcano,Historical,D1,NaN,M,1.0,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN
10,2011,1,28.0,NaN,NaN,Kirishima,Kyushu-Japan,Japan,31.930,130.870,1700,Shield volcano,Historical,D1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN
11,2011,2,23.0,NaN,NaN,Bulusan,Luzon-Philippines,Philippines,12.770,124.050,1565,Stratovolcano,Historical,D1,2.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2011,3,18.0,NaN,NaN,Karangetang [Api Siau],Sangihe Is-Indonesia,Indonesia,2.780,125.480,1784,Stratovolcano,Historical,D1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
13,2011,4,NaN,NaN,NaN,Tungurahua,Ecuador,Ecuador,-1.467,-78.442,5023,Stratovolcano,Historical,D1,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
14,2011,6,4.0,NaN,NaN,Puyehue,Chile-C,Chile,-40.590,-72.117,2236,Stratovolcano,Holocene,U,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
15,2011,6,22.0,NaN,NaN,Nabro,Africa-NE,Eritrea,13.370,41.700,2218,Stratovolcano,Holocene,Unknown,3.0,NaN,31.0,1.0,NaN,NaN,NaN,3.0,NaN,1.0,NaN,NaN,31.0,1.0,NaN,NaN,NaN,3.0,NaN,1.0,NaN,NaN
16,2011,7,9.0,NaN,NaN,Katla,Iceland-S,Iceland,63.630,-19.050,1512,Subglacial volcano,Historical,D2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
17,2011,7,17.0,NaN,NaN,Lokon-Empung,Sulawesi-Indonesia,Indonesia,1.358,124.792,1580,Stratovolcano,Historical,D1,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2011,12,27.0,NaN,NaN,Gamalama,Halmahera-Indonesia,Indonesia,0.800,127.325,1715,Stratovolcano,Historical,D1,3.0,m,4.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,4.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
19,2012,2,10.0,NaN,NaN,Kilauea,Hawaiian Is,United States,19.425,-155.292,1222,Shield volcano,Historical,D1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
20,2012,3,2.0,NaN,NaN,Kilauea,Hawaiian Is,United States,19.425,-155.292,1222,Shield volcano,Historical,D1,NaN,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2012,12,12.0,NaN,NaN,Tolbachik,Kamchatka,Russia,55.830,160.330,3682,Shield volcano,Historical,D1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
22,2013,2,12.0,NaN,NaN,Merapi,Java,Indonesia,-7.542,110.442,2947,Stratovolcano,Historical,D1,NaN,M,1.0,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN
23,2013,2,NaN,NaN,NaN,Paluweh,Lesser Sunda Is,Indonesia,-8.320,121.708,875,Stratovolcano,Historical,D1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0
24,2013,5,7.0,NaN,NaN,Mayon,Luzon-Philippines,Philippines,13.257,123.685,2462,Stratovolcano,Historical,D1,NaN,NaN,5.0,1.0,NaN,NaN,8.0,1.0,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN,8.0,1.0,NaN,NaN,NaN,NaN
25,2013,8,10.0,NaN,NaN,Paluweh,Lesser Sunda Is,Indonesia,-8.320,121.708,875,Stratovolcano,Historical,D1,3.0,NaN,5.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2013,9,1.0,NaN,NaN,Ubinas,Peru,Peru,-16.355,-70.903,5672,Stratovolcano,Historical,D1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
27,2013,9,4.0,NaN,NaN,Sakura-jima,Kyushu-Japan,Japan,31.580,130.670,1117,Stratovolcano,Historical,D1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
28,2013,9,15.0,NaN,NaN,Sinabung,Sumatra,Indonesia,3.170,98.392,2460,Stratovolcano,Holocene,U,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
29,2013,12,13.0,NaN,NaN,Okataina,New Zealand,New Zealand,-38.120,176.500,1111,Lava dome,Historical,D1,NaN,G,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2014,2,1.0,NaN,NaN,Sinabung,Sumatra,Indonesia,3.170,98.392,2460,Stratovolcano,Holocene,U,NaN,NaN,17.0,1.0,NaN,NaN,3.0,1.0,NaN,1.0,NaN,2.0,17.0,1.0,NaN,NaN,3.0,1.0,NaN,1.0,NaN,2.0
31,2014,2,13.0,NaN,NaN,Kelut,Java,Indonesia,-7.930,112.308,1731,Stratovolcano,Historical,D1,NaN,NaN,7.0,1.0,NaN,NaN,NaN,NaN,NaN,3.0,4098.0,4.0,7.0,1.0,NaN,NaN,NaN,NaN,NaN,3.0,4098.0,4.0
32,2014,9,27.0,NaN,NaN,On-take,Honshu-Japan,Japan,35.900,137.480,3063,Complex volcano,Historical,D1,3.0,NaN,55.0,2.0,NaN,NaN,70.0,2.0,NaN,NaN,NaN,NaN,55.0,2.0,NaN,NaN,70.0,2.0,NaN,NaN,NaN,NaN
33,2014,11,10.0,NaN,NaN,Kilauea,Hawaiian Is,United States,19.425,-155.292,1222,Shield volcano,Historical,D1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.50,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,14.50,3.0,1.0,1.0
34,2014,11,23.0,NaN,NaN,Fogo,Cape Verde Is,Cape Verde,14.950,-24.350,2829,Stratovolcano,Historical,D1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,230.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,230.0,3.0
35,2014,12,18.0,NaN,NaN,Gamalama,Halmahera-Indonesia,Indonesia,0.800,127.325,1715,Stratovolcano,Historical,D1,NaN,NaN,1.0,1.0,NaN,NaN,4.0,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,4.0,1.0,NaN,NaN,NaN,NaN
36,2015,2,20.0,NaN,NaN,Sinabung,Sumatra,Indonesia,3.170,98.392,2460,Stratovolcano,Holocene,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0
37,2015,4,22.0,NaN,NaN,Calbuco,Chile-S,Chile,-41.326,-72.614,2003,Stratovolcano,Historical,D2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0
38,2015,5,7.0,NaN,NaN,Karangetang [Api Siau],Sangihe Is-Indonesia,Indonesia,2.780,125.480,1784,Stratovolcano,Historical,D1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0
39,2015,7,31.0,NaN,NaN,Manam,New Guinea-NE of,Papua New Guinea,-4.100,145.061,1807,Stratovolcano,Historical,D1,2.0,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,1.0,NaN,NaN
40,2015,10,16.0,NaN,NaN,Sinabung,Sumatra,Indonesia,3.170,98.392,2460,Stratovolcano,Holocene,U,NaN,M,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
41,2015,10,NaN,NaN,NaN,Okataina,New Zealand,New Zealand,-38.120,176.500,1111,Lava dome,Historical,D1,NaN,I,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,2016,5,9.0,NaN,NaN,Sinabung,Sumatra,Indonesia,3.170,98.392,2460,Stratovolcano,Holocene,U,NaN,NaN,1.0,1.0,NaN,NaN,4.0,1.0,NaN,1.0,3.0,1.0,1.0,1.0,NaN,NaN,4.0,1.0,NaN,1.0,NaN,NaN
43,2016,5,21.0,NaN,NaN,Sinabung,Sumatra,Indonesia,3.170,98.392,2460,Stratovolcano,Holocene,U,NaN,NaN,7.0,1.0,NaN,NaN,3.0,1.0,100.00,4.0,NaN,NaN,7.0,1.0,NaN,NaN,3.0,1.0,100.00,4.0,NaN,NaN
44,2016,6,9.0,NaN,NaN,Yellowstone,US-Wyoming,United States,44.430,-110.670,2805,Caldera,Tephrochronology,D7,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,2016,9,27.0,NaN,NaN,Rinjani,Lesser Sunda Is,Indonesia,-8.420,116.470,3726,Stratovolcano,Historical,D1,NaN,NaN,NaN,NaN,44.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
46,2016,10,8.0,NaN,NaN,Aso,Kyushu-Japan,Japan,32.880,131.100,1592,Caldera,Historical,D1,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
47,2017,3,15.0,NaN,NaN,Etna,Italy,Italy,37.734,15.004,3350,Stratovolcano,Historical,D1,NaN,P,NaN,NaN,NaN,NaN,10.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,1.0,NaN,NaN,NaN,NaN
48,2017,4,13.0,NaN,NaN,Sinabung,Sumatra,Indonesia,3.170,98.392,2460,Stratovolcano,Holocene,U,2.0,P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0
49,2017,6,6.0,NaN,NaN,Fuego,Guatemala,Guatemala,14.473,-90.880,3763,Stratovolcano,Historical,D1,2.0,P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
50,2017,7,1.0,NaN,NaN,Dieng Volc Complex,Java,Indonesia,-7.200,109.920,2565,Complex volcano,Historical,D1,NaN,NaN,8.0,1.0,NaN,NaN,11.0,1.0,NaN,NaN,NaN,NaN,8.0,1.0,NaN,NaN,11.0,1.0,NaN,NaN,NaN,NaN
51,2017,9,12.0,NaN,NaN,Campi Flegrei,Italy,Italy,40.827,14.139,458,Caldera,Historical,D5,NaN,NaN,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,2017,9,23.0,NaN,NaN,Aoba,Vanuatu-SW Pacific,Vanuatu,-15.400,167.830,1496,Shield volcano,Historical,D1,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
53,2017,12,18.0,NaN,NaN,Merapi,Java,Indonesia,-7.542,110.442,2947,Stratovolcano,Historical,D1,NaN,A,8.0,1.0,NaN,NaN,8.0,1.0,NaN,NaN,NaN,NaN,8.0,1.0,NaN,NaN,8.0,1.0,NaN,NaN,NaN,NaN
54,2017,12,27.0,NaN,NaN,Sinabung,Sumatra,Indonesia,3.170,98.392,2460,Stratovolcano,Holocene,U,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
55,2018,1,5.0,NaN,NaN,Kadovar,New Guinea-NE of,Papua New Guinea,-3.620,144.620,365,Stratovolcano,Holocene,U,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
56,2018,1,13.0,NaN,NaN,Mayon,Luzon-Philippines,Philippines,13.257,123.685,2462,Stratovolcano,Historical,D1,NaN,"T,P",NaN,NaN,NaN,NaN,1972.0,4.0,3.72,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1972.0,4.0,3.72,2.0,NaN,NaN
57,2018,1,23.0,NaN,NaN,Kusatsu-Shirane,Honshu-Japan,Japan,36.620,138.550,2176,Stratovolcano,Historical,D1,NaN,T,1.0,1.0,NaN,NaN,11.0,1.0,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,11.0,1.0,NaN,1.0,NaN,NaN
58,2018,2,1.0,NaN,NaN,Kilauea,Hawaiian Is,United States,19.425,-155.292,1222,Shield volcano,Historical,D1,1.0,G,1.0,1.0,NaN,NaN,3.0,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,3.0,1.0,NaN,NaN,NaN,NaN
59,2018,2,9.0,TSU,NaN,Kadovar,New Guinea-NE of,Papua New Guinea,-3.620,144.620,365,Stratovolcano,Holocene,U,NaN,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,2018,3,21.0,NaN,NaN,Ijen,Java,Indonesia,-8.058,114.242,2799,Stratovolcano,Historical,D1,NaN,G,NaN,NaN,NaN,NaN,30.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,1.0,NaN,NaN,NaN,NaN
61,2018,4,28.0,NaN,NaN,Kilauea,Hawaiian Is,United States,19.425,-155.292,1222,Shield volcano,Historical,D1,1.0,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,1.0
62,2018,4,NaN,NaN,NaN,Aoba,Vanuatu-SW Pacific,Vanuatu,-15.400,167.830,1496,Shield volcano,Historical,D1,3.0,"T,G",4.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0

In [10]:
df = temp_df.loc[ : , ['Year', 'Name', 'Location', 'Country', 'Type', ]]
df

,Year,Name,Location,Country,Type
0,2010,Tungurahua,Ecuador,Ecuador,Stratovolcano
1,2010,Eyjafjallajokull,Iceland-S,Iceland,Stratovolcano
2,2010,Pacaya,Guatemala,Guatemala,Complex volcano
3,2010,Sarigan,Mariana Is-C Pacific,United States,Stratovolcano
4,2010,Karangetang [Api Siau],Sangihe Is-Indonesia,Indonesia,Stratovolcano
5,2010,Sinabung,Sumatra,Indonesia,Stratovolcano
6,2010,Merapi,Java,Indonesia,Stratovolcano
7,2010,Tungurahua,Ecuador,Ecuador,Stratovolcano
8,2010,Tengger Caldera,Java,Indonesia,Stratovolcano
9,2011,Merapi,Java,Indonesia,Stratovolcano
10,2011,Kirishima,Kyushu-Japan,Japan,Shield volcano
11,2011,Bulusan,Luzon-Philippines,Philippines,Stratovolcano
12,2011,Karangetang [Api Siau],Sangihe Is-Indonesia,Indonesia,Stratovolcano
13,2011,Tungurahua,Ecuador,Ecuador,Stratovolcano
14,2011,Puyehue,Chile-C,Chile,Stratovolcano
15,2011,Nabro,Africa-NE,Eritrea,Stratovolcano
16,2011,Katla,Iceland-S,Iceland,Subglacial volcano
17,2011,Lokon-Empung,Sulawesi-Indonesia,Indonesia,Stratovolcano
18,2011,Gamalama,Halmahera-Indonesia,Indonesia,Stratovolcano
19,2012,Kilauea,Hawaiian Is,United States,Shield volcano
20,2012,Kilauea,Hawaiian Is,United States,Shield volcano
21,2012,Tolbachik,Kamchatka,Russia,Shield volcano
22,2013,Merapi,Java,Indonesia,Stratovolcano
23,2013,Paluweh,Lesser Sunda Is,Indonesia,Stratovolcano
24,2013,Mayon,Luzon-Philippines,Philippines,Stratovolcano
25,2013,Paluweh,Lesser Sunda Is,Indonesia,Stratovolcano
26,2013,Ubinas,Peru,Peru,Stratovolcano
27,2013,Sakura-jima,Kyushu-Japan,Japan,Stratovolcano
28,2013,Sinabung,Sumatra,Indonesia,Stratovolcano
29,2013,Okataina,New Zealand,New Zealand,Lava dome
30,2014,Sinabung,Sumatra,Indonesia,Stratovolcano
31,2014,Kelut,Java,Indonesia,Stratovolcano
32,2014,On-take,Honshu-Japan,Japan,Complex volcano
33,2014,Kilauea,Hawaiian Is,United States,Shield volcano
34,2014,Fogo,Cape Verde Is,Cape Verde,Stratovolcano
35,2014,Gamalama,Halmahera-Indonesia,Indonesia,Stratovolcano
36,2015,Sinabung,Sumatra,Indonesia,Stratovolcano
37,2015,Calbuco,Chile-S,Chile,Stratovolcano
38,2015,Karangetang [Api Siau],Sangihe Is-Indonesia,Indonesia,Stratovolcano
39,2015,Manam,New Guinea-NE of,Papua New Guinea,Stratovolcano
40,2015,Sinabung,Sumatra,Indonesia,Stratovolcano
41,2015,Okataina,New Zealand,New Zealand,Lava dome
42,2016,Sinabung,Sumatra,Indonesia,Stratovolcano
43,2016,Sinabung,Sumatra,Indonesia,Stratovolcano
44,2016,Yellowstone,US-Wyoming,United States,Caldera
45,2016,Rinjani,Lesser Sunda Is,Indonesia,Stratovolcano
46,2016,Aso,Kyushu-Japan,Japan,Caldera
47,2017,Etna,Italy,Italy,Stratovolcano
48,2017,Sinabung,Sumatra,Indonesia,Stratovolcano
49,2017,Fuego,Guatemala,Guatemala,Stratovolcano
50,2017,Dieng Volc Complex,Java,Indonesia,Complex volcano
51,2017,Campi Flegrei,Italy,Italy,Caldera
52,2017,Aoba,Vanuatu-SW Pacific,Vanuatu,Shield volcano
53,2017,Merapi,Java,Indonesia,Stratovolcano
54,2017,Sinabung,Sumatra,Indonesia,Stratovolcano
55,2018,Kadovar,New Guinea-NE of,Papua New Guinea,Stratovolcano
56,2018,Mayon,Luzon-Philippines,Philippines,Stratovolcano
57,2018,Kusatsu-Shirane,Honshu-Japan,Japan,Stratovolcano
58,2018,Kilauea,Hawaiian Is,United States,Shield volcano
59,2018,Kadovar,New Guinea-NE of,Papua New Guinea,Stratovolcano
60,2018,Ijen,Java,Indonesia,Stratovolcano
61,2018,Kilauea,Hawaiian Is,United States,Shield volcano
62,2018,Aoba,Vanuatu-SW Pacific,Vanuatu,Shield volcano

#### 1. `pivot_table()`

In [11]:
df.pivot_table(values= 'Location', index='Country', columns= 'Year', aggfunc= 'count', fill_value= 0)

Year              2010  2011  2012  2013  2014  2015  2016  2017  2018
Country
Cape Verde           0     0     0     0     1     0     0     0     0
Chile                0     1     0     0     0     1     0     0     0
Ecuador              2     1     0     0     0     0     0     0     0
Eritrea              0     1     0     0     0     0     0     0     0
Guatemala            1     0     0     0     0     0     0     1     0
Iceland              1     1     0     0     0     0     0     0     0
Indonesia            4     4     0     4     3     3     3     4     1
Italy                0     0     0     0     0     0     0     2     0
Japan                0     1     0     1     1     0     1     0     1
New Zealand          0     0     0     1     0     1     0     0     0
Papua New Guinea     0     0     0     0     0     1     0     0     2
Peru                 0     0     0     1     0     0     0     0     0
Philippines          0     1     0     1     0     0     0     0     1
Russia               0     0     1     0     0     0     0     0     0
United States        1     0     2     0     1     0     1     0     2
Vanuatu              0     0     0     0     0     0     0     1     1

Lets understand what is happening. 

we are grouping by both of our index argument `Country` and column argument `Year`. Below We grouped the data by country `Indonesia` and below that, we can see that on Grouping the 'grouped data' by `Year` argument `Indonesia saw total 4 eruptions on year 2010`. 

Aggregation method opoerates on the `values` argument we pass. Here, on `Location` column `count` method is working. 

As on 2010, in Indonesia, eruption took place on 4 places, thus `count` method returns 4. This value equals the value in above Pivot table. Had `value_counts` been used, the result would have been diffrent.(Applied below)    

Thus behind the scences, the arguments we passed to `values`, `index` and `columns`parameters, aggregation and Group by takes place.

In [12]:
g = df.groupby('Country').get_group('Indonesia')
g

,Year,Name,Location,Country,Type
4,2010,Karangetang [Api Siau],Sangihe Is-Indonesia,Indonesia,Stratovolcano
5,2010,Sinabung,Sumatra,Indonesia,Stratovolcano
6,2010,Merapi,Java,Indonesia,Stratovolcano
8,2010,Tengger Caldera,Java,Indonesia,Stratovolcano
9,2011,Merapi,Java,Indonesia,Stratovolcano
12,2011,Karangetang [Api Siau],Sangihe Is-Indonesia,Indonesia,Stratovolcano
17,2011,Lokon-Empung,Sulawesi-Indonesia,Indonesia,Stratovolcano
18,2011,Gamalama,Halmahera-Indonesia,Indonesia,Stratovolcano
22,2013,Merapi,Java,Indonesia,Stratovolcano
23,2013,Paluweh,Lesser Sunda Is,Indonesia,Stratovolcano
25,2013,Paluweh,Lesser Sunda Is,Indonesia,Stratovolcano
28,2013,Sinabung,Sumatra,Indonesia,Stratovolcano
30,2014,Sinabung,Sumatra,Indonesia,Stratovolcano
31,2014,Kelut,Java,Indonesia,Stratovolcano
35,2014,Gamalama,Halmahera-Indonesia,Indonesia,Stratovolcano
36,2015,Sinabung,Sumatra,Indonesia,Stratovolcano
38,2015,Karangetang [Api Siau],Sangihe Is-Indonesia,Indonesia,Stratovolcano
40,2015,Sinabung,Sumatra,Indonesia,Stratovolcano
42,2016,Sinabung,Sumatra,Indonesia,Stratovolcano
43,2016,Sinabung,Sumatra,Indonesia,Stratovolcano
45,2016,Rinjani,Lesser Sunda Is,Indonesia,Stratovolcano
48,2017,Sinabung,Sumatra,Indonesia,Stratovolcano
50,2017,Dieng Volc Complex,Java,Indonesia,Complex volcano
53,2017,Merapi,Java,Indonesia,Stratovolcano
54,2017,Sinabung,Sumatra,Indonesia,Stratovolcano
60,2018,Ijen,Java,Indonesia,Stratovolcano

In [13]:
g.groupby('Year').get_group(2010)

,Year,Name,Location,Country,Type
4,2010,Karangetang [Api Siau],Sangihe Is-Indonesia,Indonesia,Stratovolcano
5,2010,Sinabung,Sumatra,Indonesia,Stratovolcano
6,2010,Merapi,Java,Indonesia,Stratovolcano
8,2010,Tengger Caldera,Java,Indonesia,Stratovolcano

In [14]:
df.pivot_table( values= 'Location', index= ['Type','Country'], columns= 'Year', aggfunc= 'value_counts', fill_value= 0)

Year                                                      2010  2011  2012  \
Type               Country          Location
Caldera            Italy            Italy                    0     0     0
                   Japan            Kyushu-Japan             0     0     0
                   United States    US-Wyoming               0     0     0
Complex volcano    Guatemala        Guatemala                1     0     0
                   Indonesia        Java                     0     0     0
                   Japan            Honshu-Japan             0     0     0
Lava dome          New Zealand      New Zealand              0     0     0
Shield volcano     Japan            Kyushu-Japan             0     1     0
                   Russia           Kamchatka                0     0     1
                   United States    Hawaiian Is              0     0     2
                   Vanuatu          Vanuatu-SW Pacific       0     0     0
Stratovolcano      Cape Verde       Cape Verde Is            0     0     0
                   Chile            Chile-C                  0     1     0
                                    Chile-S                  0     0     0
                   Ecuador          Ecuador                  2     1     0
                   Eritrea          Africa-NE                0     1     0
                   Guatemala        Guatemala                0     0     0
                   Iceland          Iceland-S                1     0     0
                   Indonesia        Halmahera-Indonesia      0     1     0
                                    Java                     2     1     0
                                    Lesser Sunda Is          0     0     0
                                    Sangihe Is-Indonesia     1     1     0
                                    Sulawesi-Indonesia       0     1     0
                                    Sumatra                  1     0     0
                   Italy            Italy                    0     0     0
                   Japan            Honshu-Japan             0     0     0
                                    Kyushu-Japan             0     0     0
                   Papua New Guinea New Guinea-NE of         0     0     0
                   Peru             Peru                     0     0     0
                   Philippines      Luzon-Philippines        0     1     0
                   United States    Mariana Is-C Pacific     1     0     0
Subglacial volcano Iceland          Iceland-S                0     1     0

Year                                                      2013  2014  2015  \
Type               Country          Location
Caldera            Italy            Italy                    0     0     0
                   Japan            Kyushu-Japan             0     0     0
                   United States    US-Wyoming               0     0     0
Complex volcano    Guatemala        Guatemala                0     0     0
                   Indonesia        Java                     0     0     0
                   Japan            Honshu-Japan             0     1     0
Lava dome          New Zealand      New Zealand              1     0     1
Shield volcano     Japan            Kyushu-Japan             0     0     0
                   Russia           Kamchatka                0     0     0
                   United States    Hawaiian Is              0     1     0
                   Vanuatu          Vanuatu-SW Pacific       0     0     0
Stratovolcano      Cape Verde       Cape Verde Is            0     1     0
                   Chile            Chile-C                  0     0     0
                                    Chile-S                  0     0     1
                   Ecuador          Ecuador                  0     0     0
                   Eritrea          Africa-NE                0     0     0
                   Guatemala        Guatemala                0     0     0
                   Iceland          Iceland-S                0     0     0
                   Indonesia        Halmahera-Indonesia      0     1     0
                                    Java                     1     1     0
                                    Lesser Sunda Is          2     0     0
                                    Sangihe Is-Indonesia     0     0     1
                                    Sulawesi-Indonesia       0     0     0
                                    Sumatra                  1     1     2
                   Italy            Italy                    0     0     0
                   Japan            Honshu-Japan             0     0     0
                                    Kyushu-Japan             1     0     0
                   Papua New Guinea New Guinea-NE of         0     0     1
                   Peru             Peru                     1     0     0
                   Philippines      Luzon-Philippines        1     0     0
                   United States    Mariana Is-C Pacific     0     0     0
Subglacial volcano Iceland          Iceland-S                0     0     0

Year                                                      2016  2017  2018
Type               Country          Location
Caldera            Italy            Italy                    0     1     0
                   Japan            Kyushu-Japan             1     0     0
                   United States    US-Wyoming               1     0     0
Complex volcano    Guatemala        Guatemala                0     0     0
                   Indonesia        Java                     0     1     0
                   Japan            Honshu-Japan             0     0     0
Lava dome          New Zealand      New Zealand              0     0     0
Shield volcano     Japan            Kyushu-Japan             0     0     0
                   Russia           Kamchatka                0     0     0
                   United States    Hawaiian Is              0     0     2
                   Vanuatu          Vanuatu-SW Pacific       0     1     1
Stratovolcano      Cape Verde       Cape Verde Is            0     0     0
                   Chile            Chile-C                  0     0     0
                                    Chile-S                  0     0     0
                   Ecuador          Ecuador                  0     0     0
                   Eritrea          Africa-NE                0     0     0
                   Guatemala        Guatemala                0     1     0
                   Iceland          Iceland-S                0     0     0
                   Indonesia        Halmahera-Indonesia      0     0     0
                                    Java                     0     1     1
                                    Lesser Sunda Is          1     0     0
                                    Sangihe Is-Indonesia     0     0     0
                                    Sulawesi-Indonesia       0     0     0
                                    Sumatra                  2     2     0
                   Italy            Italy                    0     1     0
                   Japan            Honshu-Japan             0     0     1
                                    Kyushu-Japan             0     0     0
                   Papua New Guinea New Guinea-NE of         0     0     2
                   Peru             Peru                     0     0     0
                   Philippines      Luzon-Philippines        0     0     1
                   United States    Mariana Is-C Pacific     0     0     0
Subglacial volcano Iceland          Iceland-S                0     0     0

Similar thing is happening here, aggregation and Group by. The diffrenece is the aggregation function, which is `value_counts`. 

As it calculates the total no of unique values in an axis, thus we get an extra index named `Location`. 

Before we were not getting it becoz, as `count` aggregation was applied on the `Location` column which simply returns the no. of non-na values. 

Thus we can see that in below df, on `Year` 2010, in `Indonesia`, among `Stratovolcano` group, 2 volacanic eruption took place in `Location` called Java, 1 in Sumatra, 1 in Sangihe Is-Indonesia. It matches with the value for the respective indexes and columns in the above pivot table.

In [15]:
g.groupby('Year').get_group(2010)

,Year,Name,Location,Country,Type
4,2010,Karangetang [Api Siau],Sangihe Is-Indonesia,Indonesia,Stratovolcano
5,2010,Sinabung,Sumatra,Indonesia,Stratovolcano
6,2010,Merapi,Java,Indonesia,Stratovolcano
8,2010,Tengger Caldera,Java,Indonesia,Stratovolcano

#### 2. `pivot()` 

No Aggregation possible

In [16]:
# If we apply the same arguments here, it would give us Value error
df.pivot(values= 'Location', index='Country', columns= 'Year')

ValueError: Index contains duplicate entries, cannot reshape

The reason this is happening becoz of presence of similar values in `country` column. 

As per offical documentation, 

>Uses unique values from specified index / columns to form axes of the resulting DataFrame

>This function does not support data aggregation

>Raises
ValueError:
When there are any index, columns combinations with multiple values. 

What happening is that, as there are many `Indonesia` in index axis and each have diffrent value as per location column( becoz eruption happened in diffrent places during year 2010 in Indonesia, like in java and sumatra), thus it raises the error due to failure to assign a value.

For example, in year 2010, index value `Indonesia` have multiple eruption. Hence the `ValueError`.

In [18]:
# Now if we remove the index parameter, it won't give us an error
df.pivot(values= 'Country', columns= 'Year')

Year,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Ecuador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Guatemala,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Ecuador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Philippines,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,Ecuador,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,Eritrea,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Iceland,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,Russia,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,Indonesia,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,Indonesia,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,Philippines,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,Indonesia,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,Peru,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,Japan,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,Indonesia,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,New Zealand,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,Indonesia,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,Indonesia,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,Japan,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,Cape Verde,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,Indonesia,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,Indonesia,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,Chile,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,Indonesia,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,Papua New Guinea,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,Indonesia,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,New Zealand,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,Indonesia,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,Indonesia,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,United States,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,Indonesia,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,Japan,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Italy,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Indonesia,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Guatemala,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Indonesia,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Italy,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vanuatu,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Indonesia,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Indonesia,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Papua New Guinea
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Philippines
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Japan
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Papua New Guinea
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Indonesia
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States
62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vanuatu

Here on Grouping `year` column, each grouped year shows the country where eruption took place on a particular year. 

On 2010, we can see eruption took place in total 9 places (inclusive of similar places), which equals the pivot dataframe data above.

Now here no `ValueError` occurs becoz, **we have no defined index**. we are using the defualt 0,1.. index. **Thus no similar index, columns combination with multiple values occurs**.( which happens in the above discussion) 

For example, index of Ecuador in 2010 year is 0. we won't find country in the same year (or other) having similar index. even for year 2011, indexx starts from the end index vaue of year 2010. Thus there is no duplicate index.

In [19]:
display(df.groupby('Year').get_group(2010))
display(df.groupby('Year').get_group(2011))

,Year,Name,Location,Country,Type
0,2010,Tungurahua,Ecuador,Ecuador,Stratovolcano
1,2010,Eyjafjallajokull,Iceland-S,Iceland,Stratovolcano
2,2010,Pacaya,Guatemala,Guatemala,Complex volcano
3,2010,Sarigan,Mariana Is-C Pacific,United States,Stratovolcano
4,2010,Karangetang [Api Siau],Sangihe Is-Indonesia,Indonesia,Stratovolcano
5,2010,Sinabung,Sumatra,Indonesia,Stratovolcano
6,2010,Merapi,Java,Indonesia,Stratovolcano
7,2010,Tungurahua,Ecuador,Ecuador,Stratovolcano
8,2010,Tengger Caldera,Java,Indonesia,Stratovolcano

,Year,Name,Location,Country,Type
9,2011,Merapi,Java,Indonesia,Stratovolcano
10,2011,Kirishima,Kyushu-Japan,Japan,Shield volcano
11,2011,Bulusan,Luzon-Philippines,Philippines,Stratovolcano
12,2011,Karangetang [Api Siau],Sangihe Is-Indonesia,Indonesia,Stratovolcano
13,2011,Tungurahua,Ecuador,Ecuador,Stratovolcano
14,2011,Puyehue,Chile-C,Chile,Stratovolcano
15,2011,Nabro,Africa-NE,Eritrea,Stratovolcano
16,2011,Katla,Iceland-S,Iceland,Subglacial volcano
17,2011,Lokon-Empung,Sulawesi-Indonesia,Indonesia,Stratovolcano
18,2011,Gamalama,Halmahera-Indonesia,Indonesia,Stratovolcano

**NOTE:** Remember it all depends upon the structure of index(es) or possible duplicated entries from the index of interest after grouping.

In [20]:
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
                           'two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'baz': [1, 2, 3, 4, 5, 6],
                   'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
df

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t

In [21]:
df.pivot(index='foo', columns='bar', values='baz')

bar  A  B  C
foo
one  1  2  3
two  4  5  6

It is not showing any error, bcz of lack of similar index, column combinations with multiple values.

### Misc.

**1.** We can pass list of index/column names too

**2.** `groupby()` and `pivot_table()` does the same work that is aggregation. but their resultant structure is diffrent.